<div class="container" id="locationSetup">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 id="mainHeader">
                {{#if justClosed}}
                    You have just closed your van! 
                    <br>Please enter your current parked location to continue operations.</br>
                {{else}}
                    Please enter your current parked location
                {{/if}}
            </h1>
        </div>
    </div>
    <br>

    {{#if success}}
        {{#> vendorSuccess}}
        {{/vendorSuccess}}
    {{else}}
        {{#> vendorGeneric}}
        {{/vendorGeneric}}
    {{/if}}
    
    <script src="/js/vendorLocation.js"></script>

</div>