<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-8">
            <h1>
                You're all set - this van is now ready to sell some snacks!
            </h1>
        </div>

    </div>
    <div class="row justify-content-center mt-4">
        <a class="btn btn-primary" href="">OPEN FOR BUSINESS!</a>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-1 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" id="octicon-green-dot">
                <path d="M12 18a6 6 0 100-12 6 6 0 000 12z"></path>
            </svg>
        </div>
        <div class="col-1 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" id="octicon-green-dot">
                <path d="M12 18a6 6 0 100-12 6 6 0 000 12z"></path>
            </svg>
        </div>
    </div>
</div>