<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>
                You have just closed your van !
                
                Please enter your current parked location
            </h1>
        </div>
    </div>
    <br>
    <form action="">
        <div class=" col-8">
            <div class="form-group">
                <label for="currentLocation">Current Location<span class="text-danger">*</span></label>
                <input type="text" class="form-control text-muted" id="currentLocation"
                    placeholder="Your current location!">
            </div>
            <div class="form-group">
                <input type="submit" value="GET LOCATION" class="btn btn-info btn-block">
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-1 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" id="octicon-green-dot">
                <path d="M12 18a6 6 0 100-12 6 6 0 000 12z"></path>
            </svg>
        </div>
        <div class="col-1 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" id="octicon-muted-dot">
                <path d="M12 18a6 6 0 100-12 6 6 0 000 12z"></path>
            </svg>
        </div>
    </div>

</div>